.hero {
    margin: 100px 0px 200px 0px;
}

.hero .garis {
    width: 100px;
    height: 30px;
    background-color: #FE7E6D;
}

.hero h1 {
    font-family: 'Mochiy Pop P One',
        sans-serif;
    font-size: 60px;
    line-height: 90px;
    color: #2C2C2C;
    margin-left: 20px;
}

.hero span {
    color: #2F3A8F;
}

.hero p {
    font-size: 30px;
    line-height: 47px;
    color: #A5A1A8;
}

.project {
    padding: 40px 0px 20px 0px;
    background-color: #2F3A8F;
    margin-bottom: 100px;
}

.project .img-project {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
}

.description {
    margin-bottom: 100px;
}

.description .profile-creator {
    padding: 25px 30px 25px 30px;
    background-color: #FE7E6D;
    width: 60%;
    border-radius: 20px;
}

.description .img-creator {
    border: 5px #2F3A8F solid;
    border-radius: 100%;
}

.description h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: #FFFFFF;
}

.description span {
    font-family: 'Poppins';
    color: #EEEEF3;
}

.description .card-description p {
    font-weight: 400;
    font-size: 25px;
    color: #2C2C2C;
    text-align: justify;
}

.description .card-description .btn-primary {
    font-family: 'DM Mono';
    background: #2F3A8F;
    border: 5px solid #FE7E6D;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: normal;
}

.description .card-academic-experience {
    border-bottom: 0;
}

.nav-tabs .nav-item .nav-link {
    background-color: #FE7E6D !important;
    border: 5px #FE7E6D solid !important;
    color: #FFFFFF !important;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
    cursor: pointer;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #2F3A8F !important;
    border: 5px #FE7E6D solid;
    color: #FFFFFF;
}

.description .tabcontent-academic-experience p {
    font-size: 20px;
}

.description .tabcontent-academic-experience li {
    list-style: none;
}

.description .tabcontent-academic-experience .bulet {
    width: 30px;
    height: 30px;
    margin-left: -49px;
    padding: 3px;
    background-color: #2F3A8F;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    position: absolute;
    text-align: center;
}

.certificate {
    margin-bottom: 100px;
}

.certificate h3 {
    font-family: DM Mono;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
}

.certificate .card-certificate {
    background: #FFFFFF;
    box-shadow: 5px 4px 15px rgb(0 0 0 / 8%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.certificate .card-certificate .img-fluid {
    width: 400px;
    height: 300px;
    object-fit: contain;
}


.skill {
    margin-bottom: 100px;
}

.skill h3 {
    font-family: DM Mono;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
}

.skill .card-skill {
    background: #FFFFFF;
    box-shadow: 5px 4px 15px rgb(0 0 0 / 8%);
    border-radius: 20px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.skill .card-skill .img-fluid {
    width: 100px;
    object-fit: contain;
}

@media only screen and (max-width: 768px) {
    .navbar .btn-menu {
        margin-top: 10px;
        margin-left: 0 !important;
    }

    .navbar-light .navbar-toggler {
        border-color: transparent !important;
    }

    .hero {
        text-align: center;
    }

    .hero h1 {
        font-family: 'Mochiy Pop P One';
        font-size: 52px;
        color: #2C2C2C;
        margin-left: 0px;
    }

    .description .profile-creator {
        width: 100%;
    }

    .description .img-creator {
        margin-bottom: 30px;
    }

    .description h4 {
        font-size: 32px;
    }
}