.menu .card-menu {
    border-radius: 10px;
}

.menu .card-menu h4 {
    font-family: 'Mochiy Pop P One',
        sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #2C2C2C;
}
.menu .card-menu ul {
    font-family: DM Mono;
    font-weight: 300;
    font-size: 15px;
    color: #2C2C2C;
}

.menu .card-menu li {
    list-style: none;
    margin-bottom: 10px;
}

.menu .card-menu li a {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
}

.menu .card-menu li a:hover {
    color: #FE7E6D;
    font-weight: 400;
}

.menu .card-menu .bulet-white {
    width: 10px;
    height: 10px;
    margin-left: -29px;
    padding: 3px;
    background-color: #2F3A8F;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    position: absolute;
    text-align: center;
    margin-top: 5px;
}

@media only screen and (min-width: 1900px) {
    .menu {
        padding: 5%;
    }
}