@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Mochiy+Pop+P+One&family=Poppins:wght@700&display=swap');

p {
  font-family: 'DM Mono';
  font-weight: 300;
  color: #2F281E;
  font-size: 14px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background: #F3F5FC;
}
