/* PAGE PORTFOLIO */
.title-portfolio {
    margin-top: 30px;
    margin-bottom: 50px;
}

.title-portfolio h1 {
    font-family: 'Mochiy Pop P One',
        sans-serif;
    font-size: 40px;
    line-height: 50px;
    color: #2C2C2C;
}

.title-portfolio p {
    font-size: 20px;
    color: #A5A1A8;
    margin: 0 auto;
    max-width: 60%;
}

.project-portfolio {
    margin-bottom: 100px;
}

.project-portfolio .img-project {
    object-fit: cover;
    width: 100% !important;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

.project-portfolio .card-project {
    border-radius: 20px;
    margin-bottom: 30px;
}

.project-portfolio .card-project .bg-primary {
    background: #2F3A8F !important;
    color: white;
    border-radius: 0px 0px 20px 20px;
    margin-top: -1px;
}

.project-portfolio .card-project span {
    font-family: DM Mono;
    color: white;
    font-size: 12px;
    font-weight: 300px;
}

.project-portfolio .card-project h3 {
    font-family: DM Mono;
    color: white;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.project-portfolio .card-project h3:hover {
    text-overflow: clip;
    white-space: normal;
}

.project-portfolio .card-project .btn-primary {
    background: #FE7E6D !important;
    color: white;
    border-radius: 20px;
    font-size: 11px;
    font-family: DM Mono;
    border: none;
}

.modal-content {
    border-radius: 20px !important;
    background-color: #F3F5FC !important;
}


.card-detail .img-card {
    padding: 20px;
    background-color: #2F3A8F;
    border: 5px #FE7E6D solid;
    border-radius: 20px;
}

.card-detail .text-platform {
    font-family: DM Mono;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #2F3A8F;
}

.card-detail .text-stack {
    font-family: DM Mono;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

.card-detail h1 {
    font-family: DM Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

