.title-login {
    margin-top: 30px;
    margin-bottom: 50px;
}

.title-login h1 {
    font-family: 'Mochiy Pop P One',
        sans-serif;
    font-size: 40px;
    line-height: 50px;
    color: #2C2C2C;
}

.title-login p {
    font-size: 20px;
    color: #A5A1A8;
    margin: 0 auto;
    max-width: 60%;
}

.form-login {
    margin-bottom: 100px;
}

.form-login .login-header {
    background-color: #FE7E6D;
    border-radius: 20px;
}

.form-login .login-header h6 {
    font-family: DM Mono;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    color: #F3F5FC;
}

.form-login .login-body {
    background-color: #fff;
    border-radius: 0px 0px 19px 19px;
}

.form-login .login-body label {
    font-family: DM Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #000000;
}

.form-login .login-body .form-control {
    background-color: #F3F5FC !important;
    border-radius: 20px;
    border: none;
    font-size: 13px;
}